* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-image: linear-gradient(to bottom, rgba(240, 220, 252, 0.829), rgba(138, 92, 165, 0.9));
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.nav-link {
  font-weight: normal;
  font-family: "Roboto Slab", serif;
}

.main-container-fluid {
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer-container-fluid {
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(240, 220, 252, 0.829), rgba(138, 92, 165, 0.9));
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer-container-fluid ul a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #f8edfc;
  text-shadow: 1px 1px 1px rgba(59, 59, 59, 0.8);
}
.footer-container-fluid h6 {
  font-family: "Roboto Slab", serif;
  color: #652877;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
.footer-container-fluid b {
  font-family: "Roboto Slab", serif;
  color: #652877;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
.footer-container-fluid p {
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
.footer-container-fluid small {
  font-family: "Poppins", sans-serif;
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360)));
}

.bold-text {
  color: white;
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360)));
}

.social a {
  font-size: 21px;
  color: #652877;
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360)));
}

.carousel-caption h1, .carousel-caption h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  font-size: 2em;
  color: #652877;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
.carousel-caption p {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 1em;
  color: #f8edfc;
  text-shadow: 1px 1px 1px rgba(59, 59, 59, 0.8);
}

.card-deck {
  background-color: #dbb2e0;
}
.card-deck img {
  box-shadow: 6px 6px 9px rgba(126, 126, 126, 0.493);
  transition: all 1s;
}
.card-deck img:hover {
  opacity: 0.5;
}
.card-deck .card-body {
  background-color: #fdc7eb;
  box-shadow: 6px 6px 9px rgba(126, 126, 126, 0.493);
}
.card-deck .card-body a {
  color: #652877;
  font-size: 1.7em;
  font-family: "Roboto Slab", serif;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
.card-deck .card-body a:hover {
  text-decoration: none;
  color: violet;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .card-deck .card-body a {
    font-size: 0.8em;
  }
}
.card-deck .card-body p {
  color: #f8edfc;
  font-size: 0.85em;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 1px rgba(59, 59, 59, 0.8);
}

.cardDeck-container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.card-container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.text-container-fluid {
  margin-right: 0;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  line-height: 2.5em;
  color: #652877;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
@media (max-width: 768px) {
  .text-container-fluid {
    opacity: 0.8;
    line-height: 1em;
    font-size: 1em;
    color: black;
  }
}
@media (max-width: 576px) {
  .text-container-fluid {
    opacity: 1;
    line-height: 1em;
    font-size: 0.8em;
    color: black;
  }
}

.card-title {
  color: #652877;
  font-size: 1.7em;
  font-family: "Roboto Slab", serif;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}
@media (max-width: 768px) {
  .card-title {
    font-size: 2em;
  }
}

.tituloPortada {
  position: absolute;
  top: 45%;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  font-size: 2.5em;
  color: #652877;
  text-shadow: 1px 1px 2px rgba(255, 254, 254, 0.8);
}

.subtituloPortada {
  position: absolute;
  top: 55%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #f8edfc;
  text-shadow: 1px 1px 1px rgba(59, 59, 59, 0.8);
}

#portadaMujer {
  background-color: #fdc7eb;
}

#portadaHombre {
  background-color: #a1c8fc;
}

#portadaPeques {
  background-image: linear-gradient(to bottom, #fcd2f8, rgba(205, 231, 253, 0.966));
}

.videoResponsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.videoResponsive iframe,
.videoResponsive object,
.videoResponsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#formulario {
  background-image: linear-gradient(to top, rgba(240, 220, 252, 0.829), rgba(138, 92, 165, 0.9));
  padding-top: 25px;
}

/*# sourceMappingURL=style.css.map */
