//Variables

$tx-color-titulo: rgb(101, 40, 119);
$tx-color-subtitulo: rgb(248, 237, 252);
$bg-color: rgb(219, 178, 224);
$bg-color-light: rgb(253, 199, 235);
$bg-color-men: rgb(161, 200, 252);
$tx-shadow-titulo: 1px 1px 2px rgba(255, 254, 254, 0.8);
$tx-shadow-subtitulo: 1px 1px 1px rgba(59, 59, 59, 0.8);
$bg-gradient: linear-gradient(to bottom, rgba(240, 220, 252, 0.829), rgba(138, 92, 165, 0.9));
$bg-gradient-top: linear-gradient(to top, rgba(240, 220, 252, 0.829), rgba(138, 92, 165, 0.9));
$box-shadow: 6px 6px 9px rgba(126, 126, 126, 0.493);